.nav-section{
    display:flex;
    /* background-color:lightblue; */
    border-bottom: 1px solid pink;

    align-items: center;
    
}
.nav-right{
    display:flex;
    width:400px;
    flex-direction: row;
    justify-content: flex-end;
    
}

.nav-span{
    padding:25px;
    font-style: italic;
    font-size: 30px;
    height:20px;
    
    
}
.nav-link{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding: 5px;
}
.nav-left{
    flex:2;
}
.nav-right{
    flex:4;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:15px;
    font-size:15px;
    
    
    
}
.nav-paragraph{
    color:grey;
    padding-right: 35px;
    font-size: 15px;
}
.portion1-image{
    height:250px;
    width:250px;
    padding:10px;
    margin:10px;
    padding-left:80px;
}
.portion1-paragraph{
    font-size:15px;
    text-align: center;
    font-weight: bold;
}
.portion-price{
    font-size:20px;
    text-align:center;
    color:grey;
}


.top-portion{
    display:flex;
    border-bottom: 1px solid pink;
}









.left-section img{
    height:400px;
    width:300px;
}


.flexbox-container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    margin:80px;
    
}
.upper{
    color:grey
}
.paragraph{
    color: grey;
}
.right-top{
    font-size:25px;
}
.right-section{
    margin-left: 80px;
}
.image-small{
    height:100px;
    width:100px;
    
    

}
.bottom-section{
    margin-top: 20px;
    background-color: brown;
    color: azure;
    border: none;
    padding:10px;

}
.price{
    font-size: 30px;
    margin-bottom: 20px;
}
.bottom-group{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    

}
.bottom-section{
    border-radius:30px;
    padding-left:20px;
    padding-right:20px;
    font-size: 20px;
}
.p-section{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid grey;

    padding:10px;
    padding-top:2px;
    width:300px;
    
}
.b-section{
    color:white;
    background-color: brown;
    border:none;
    padding:10px;
    

} 
.formclass{
    padding-left: 20px;
}
.b-section{
    margin-left: 30px;
    border-radius:25px;
    padding-left:60px;
    padding-right:60px;
    font-size:15px;
    margin-bottom: 10px;

   
   
}
.last-section{
    border:1px solid blueviolet;
    width:320px;
    
}
input{
    border-radius:30px;
    border:1px solid grey;
    padding: 10px;
    padding-right:30px;
    font-size:20px;
    
}